body{background-color: darksalmon;}
h1{text-align: center;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;}
#para1{text-align: center;
color: yellow;
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 900;}
.div1{border: 15px dotted rgb(238, 241, 26);
border-radius: 30px;
margin: 0px 50px;
background-color: red;
text-align: center;
}
h3{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 150%;
font-weight: 900;
color: slategrey;}    

.tour{ border: 10px dotted tomato;
margin: 8%;
border-radius: 20px;display: inline-block;
width: 32%; display: inline-block;
background-color: springgreen;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
text-align: center;
}
p{
color: white;
text-align: center;
font-size: 25px;
}
h2{text-align: center;}
.T{color: tomato;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}